[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
numpy = "*"
pdf2image = "*"
Pillow = "*"
ipykernel = "*"
tqdm = "*"
matplotlib = "*"
scipy = "*"
Flask = "*"
Flask-Cors = "*"
wheel = "*"
uwsgi = "*"
pytesseract = "*"
symspellpy = "*"

[dev-packages]

[requires]
python_version = "3.8"
